/* Help me initialise some defauly styling for a website project */
@font-face {
  font-family: "Pluto Cond Bold";
  src: url("font/Pluto Cond Bold.otf") format("opentype");
}

@font-face {
  font-family: "Pluto Cond Regular";
  src: url("font/Pluto Cond Regular.otf") format("opentype");
}

@font-face {
  font-family: "Pluto Cond Black";
  src: url("font/Pluto Cond Black.otf") format("opentype");
}

:root {
  --primary-color: #007130;
  --secondary-color: #FF5733;
  --background: #f5efdd;
  --divider: #dbd3c2;
  --font-bold: "Pluto Cond Bold", sans-serif;
  --font-regular: "Pluto Cond Regular", sans-serif;
  --font-title: "Pluto Cond Black", sans-serif;
  --font-small: 0.85rem;
  --font-smaller: 0.7rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  box-sizing: border-box;
  font-family: var(--font-regular);
  letter-spacing: 0.06rem;
  font-weight: 400;
  background: url(assets/img-noise-1200x1280.png);
  background-size: cover;
  background-attachment: fixed;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1 {
  font-size: clamp(2.5rem, 4.5vw, 3.25rem);
}

h2 {
  font-size: clamp(2rem, 3.5vw, 2.75rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

a {
  text-decoration: none;
}

#nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  border-bottom: 1px solid var(--divider);
}

header > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: var(--font-small);
  font-family: var(--font-bold);
}

header > img {
  width: 100px;
  mix-blend-mode: multiply;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  --max-landing-width: 768px;
}

h1.landing-title {
  max-width: var(--max-landing-width);
  margin: 0;
}

.landing-subtitle {
  font-size: var(--font-small);
  max-width: calc(var(--max-landing-width) * 0.8);
  margin: 0;
}

.landing-img-container {
  position: relative;
}

.landing-shopnow-btn {
  --btn-width: 7.5rem;
  position: absolute;
  width: var(--btn-width);
  top: 0;
  /* center it */
  left: calc(50% - var(--btn-width) / 2);
  background-color: var(--secondary-color);
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  font-size: var(--font-small);
  cursor: pointer;
}

/* smaller than 650px */
@media screen and (max-width: 650px) {
  .landing-shopnow-btn {
    font-size: var(--font-smaller);
    width: calc(var(--btn-width) * 0.9);
  }
}

.landing-img-container > img.landing-banner {
  margin-top: 1rem;
  border-top: 1px solid whitesmoke;
  --landing-img-width: min(40rem, 80vw);
  --landing-img-height: calc(var(--landing-img-width) * 0.5);
  width: var(--landing-img-width);
  height: var(--landing-img-height);
  border-radius: var(--landing-img-height) var(--landing-img-height) 0 0;
}

.landing-img-container > img.landing-capsules {
  width: 200px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 100px);
  mix-blend-mode: multiply;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}